.counter-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #15141d;
  height: 300px;
  width: 350px;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.actions > button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 5px;
  margin: 3px;
  transition-duration: 0.3s;
}

.actions > button:hover {
  background-color: #4CAF5050;
  cursor: pointer;
}